@page "/modaltester"
@using SuperSimpleBlazorModal
@rendermode InteractiveAuto
<h3>ModalTester</h3>

<SimpleModal 
    @ref="ModalRef" 
    Id="MannajaStaModale" 
    ExtraCssClass="modal-reset" 
    OnModalStateChange="ModalStateChanged"
    OpenOnFirstRender="true">
    <h1>Modal Content</h1>
    <p>This is the content of the modal</p>
    <button class="btn btn-secondary" @onclick="CloseModal">Close</button>
</SimpleModal>

<button class="btn btn-primary" @onclick="ShowModal">Show Modal</button>

@code {
    private SimpleModal? ModalRef;

    async Task ShowModal()
    {
        await ModalRef.ShowModal();
    }

    async Task CloseModal()
    {
        await ModalRef.CloseModal();
    }

    void ModalStateChanged(bool state) 
    {
        // do stuff when modal state changes
    }
}
